@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	background-color: #06080C;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-center-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-between-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}






