@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	background-color: #000;
}

:root {
	--radial-ellipse-background: linear-gradient(270deg, #f9e7bb 0%, #e97cbb 50%, #3d47d9 100%);
	/* --radial-ellipse-background: linear-gradient(270deg, #87698A 0%, #3B2D8F 50%, #110567 100%); */
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes saturation {
	0% {
		filter: saturate(0%) brightness(0%);
	}
	100% {
		filter: saturate(100%) brightness(100%);
	}
}




/* .radial-ellipse {	
	background: var(--radial-ellipse-background);
	border-radius: 50%;
} */

.radial-ellipse {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px -10px 30px rgba(0, 0, 0, 0.5), inset 10px 10px 30px rgba(255, 255, 255, 0.2);
		animation: saturation 5s ease-in-out, rotate 120s linear infinite;
		background: radial-gradient(circle at 30% 30%, #87698A, #3B2D8F, #110567);
}

.radial-ellipse-dashboard {
  position: fixed; /* Ensure it has a position value other than static */
  z-index: 0; /* Set a lower z-index */
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px -10px 30px rgba(0, 0, 0, 0.5), inset 10px 10px 30px rgba(255, 255, 255, 0.2);
  animation: saturation 5s ease-in-out, rotate 120s linear infinite;
  background: radial-gradient(circle at 30% 30%, #87698A, #3B2D8F, #110567);
}
.radial-ellipse-dashboard:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.noise:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}






.radial-ellipse-upload {
  position: relative;
  width: 30vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px -10px 30px rgba(0, 0, 0, 0.5), inset 10px 10px 30px rgba(255, 255, 255, 0.2);
	animation: saturation 5s ease-in-out, rotate 120s linear infinite;
}

.radial-ellipse-upload .rotating-background {
  background: radial-gradient(circle at 30% 30%, #87698A, #3B2D8F, #110567);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: rotate 120s linear infinite;
  /* z-index: -20; */
  transition: filter 0.4s ease; /* Add transition for the default state */
}

.radial-ellipse-upload .rotating-background::before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.radial-ellipse-upload:hover .rotating-background {
  filter: brightness(1.1);
}

.text-radial-gradient {
  background: radial-gradient(circle at center, #f1f1f1, #888, #f1f1f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.text-radial-gradient-style-guide {
  background: radial-gradient(circle, #FAAE82, #7546CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
@layer base {
  :root {
		--radius: 0.5rem;
	}
}
